@mixin m-bold {
  /*font-weight:bold;*/
  font-family: 'PTSansBold';
}

@mixin m-border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin m-background($img:'',$size:'',$color:'',$repeat:no-repeat,$pos:center) {
  background-image: $img;
  background-repeat: $repeat;
  background-position: $pos;
  @if $color!='' {
    background-color: $color;
  }
  @if $size!='' {
    background-size: $size;
  }
}

@mixin m-box-shadow($top, $left, $blur, $width, $color, $inset:"") {
  @if $inset != "" {
    -webkit-box-shadow: $top $left $blur $width $color $inset;
    -moz-box-shadow: $top $left $blur $width $color $inset;
    box-shadow: $top $left $blur $color $width $inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $width $color;
    -moz-box-shadow: $top $left $blur $width $color;
    box-shadow: $top $left $blur $width $color;
  }
}

@mixin m-box-shadow-none() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin m-linear-gradient($type,$color1,$color2) {
  background: $color1; /* Old browsers */
  background: -webkit-linear-gradient($type, $color1, $color2); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($type, $color1, $color2); /* Opera 11.10+ */
  background: -ms-linear-gradient($type, $color1, $color2); /* IE10+ */
  background: linear-gradient($type, $color1, $color2); /* W3C */
}

@mixin m-rotate($deg) {
  -o-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin m-transition($field, $inTime, $meth, $outTime) {
  -webkit-transition: $field $inTime $meth $outTime;
  -moz-transition: $field $inTime $meth $outTime;
  -o-transition: $field $inTime $meth $outTime;
  transition: $field $inTime $meth $outTime;
}