<nav class="light-blue" role="navigation">
    <div class="nav-wrapper js-navbar-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons left">home</i> SSA</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/blog"><i class="material-icons left">view_module</i>Статьи</a></li>
            <li><a href="/"><i class="material-icons right">perm_identity</i>Вход</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/"><i class="material-icons left">home</i>Главная</a></li>
            <li><a href="/blog"><i class="material-icons left">view_module</i>Статьи</a></li>
            <li><a href="/"><i class="material-icons left">perm_identity</i>Вход</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>