<div class="section no-pad-bot">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="header">Блог</h1>
            </div>
        </div>
        <div class="row js-blog-list">

        </div>
        <div class="row">
            <div class="col s12 center">
                <ul class="pagination js-blog-pagination">

                </ul>
            </div>
        </div>
    </div>
</div>
