<div class="col s6 m3 l4">
    <div class="card large hoverable">
        <div class="card-image">
            <img src="/static/ssa/img/ssa-1.jpg">
            <span class="card-title">Card Title 1</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <a href="/blog/urlForPage">Читать далее</a>
        </div>
    </div>
</div>