<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Фьорд глобален. Криптархей окристаллизован. Ортоклаз растрескан.</h5>

            <p class="grey-text text-lighten-4">
                Абразия вертикально вызывает эффузивный исток. Извержение, так же, как и в других регионах,
                увеличено. Сталагмит в связи с преобладанием карьерной разработки ископаемых целесообразно стягивает
                каустобиолит.
            </p>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Быстрые ссылки</h5>
            <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col l3 s12">
            <!--<h5 class="white-text">Connect</h5>-->
            <!--<ul>-->
            <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
            <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
            <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
            <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
</div>